/*  Desktop */
@media all and (min-width: 1601px) and (max-width: 1920px) {}

/* Laptop */
@media (max-width: 1366px) {
	.head-bottom .nav-menu ul li a {
		padding: 0 15px;
	}

	.container-fluid {
		padding: 0 15px;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	#services .grybg .row {
		display: block;
	}

	#services .card img {
		margin: 30px auto;
	}

	.wd-sl-aboutimg {
		position: relative;
		width: 100%;
		bottom: unset;
		margin-bottom: 20px;
	}

	.wd-sl-leftabtsec:after {
		display: none;
	}

	#home-banner {
		height: auto;
		background-image: none;
		padding: 100px 0 0;
	}

	.banner-form.container {
		margin: 20px 0 0;
	}

	.home-page section {
		margin-top: 1rem;
	}

	#aboutus {
		padding: 1rem 0;
	}

	img.wd-sl-imgup {
		display: none;
	}

	#services .grybg {
		margin: unset;
	}

	#parent {
		margin-bottom: 30px;
	}

	#parent:last-child {
		margin-bottom: 0;
	}

	#aboutus .col-md-5.my-auto {
		padding-left: 30px !important;
	}

	.wd-sl-servicesothers .card-body p {
		font-size: 14px;
	}

	.wd-sl-footlinks li {
		margin-bottom: 0;
	}

	.wd-sl-footlinks li {
		display: block;
	}

	.wd-sl-footlinks li p {
		width: 100%;
	}

	.footer-cont h3 {
		margin: 0 0 10px 0;
	}

	ul.social {
		justify-content: center;
		margin-bottom: 10px;
	}

	.footer-flex {
		display: block;
	}

	.Testimonial-section svg {
		margin: 0 0px 15px;
		width: 60px;
		height: 60px;
	}

	.sec-title h1 {
		font-size: 28px;
	}

	.Testimonial-section p {
		font-size: 14px;
	}

	.md-sg-wl {
		height: 650px;
	}

	.Testimonial-section .container-pe-quote .pp-quote {
		width: 80px !important;
		height: 80px !important;
	}

	.Testimonial-section .container-pe-quote .li-quote-4 {
		bottom: -10px;
		left: -10px;
		top: auto;
	}

	.Testimonial-section .container-pe-quote .li-quote-1 {
		left: 250px;
		bottom: -50px;
		top: 350px;
	}

	.Testimonial-section .container-pe-quote .li-quote-2 {
		left: 100px;
		bottom: -50px;
	}

	.Testimonial-section .container-pe-quote .li-quote-3 {
		left: 0;
		bottom: -150px;
		top: auto;
	}

	.Testimonial-section .container-pe-quote .li-quote-7 {
		right: 150px;
		bottom: 120px;
	}

	.Testimonial-section .container-pe-quote .li-quote-5 {
		left: -80px;
		bottom: -40px;
	}

	.Testimonial-section .container-pe-quote .li-quote-6 {
		left: -100px;
		bottom: -180px;
	}

	.search-cont {
		width: auto;
	}

	#search-result .search-details {
		padding-left: 0 !important;
	}

	.yellow-btn {
		margin-right: 0;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	.contact-card {
		padding: 20px;
	}

	.contact-card span,
	.contact-card a {
		font-size: 13px;
	}

	.wd-md-contact-form br {
		display: block;
	}

	.wd-md-stock-main p {
		font-size: 14px;
		margin-bottom: 0;
	}

	.wd-md-contact-form .container-fluid {
		padding: 0;
	}

	.wd-md-stock-main {
		height: auto;
		padding: 120px 0 0 !important;
	}

	.wd-md-stock-main h3:after {
		display: none;
	}

	.wd-sl-logo img,
	.active_head .wd-sl-logoblue img {
		width: 70%;
	}

	.wd-sl-logo,
	.active_head .wd-sl-logoblue {
		text-align: end;
	}

	.f-timing {
		margin: 1rem 0;
	}

	.open .opacity {
		display: block;
	}

	.head-bottom.open .nav-menu {
		left: 0;
	}

	.mobile-menu {
		display: block;
		font-size: 24px;
		line-height: 0;
		color: var(--primary);
		cursor: pointer;
	}

	.opacity {
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 999;
		display: none;
	}

	.head-bottom .nav-menu {
		background: #fff;
		flex-direction: column;
		width: 250px;
		top: 0;
		left: -250px;
		position: absolute;
		bottom: 0;
		padding: 15px 15px;
		transition: left 0.5s 0s;
		z-index: 9999;
		height: 100vh;
	}

	.wd-md-respo-menu {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	.head-bottom .nav-menu ul {
		flex-direction: column;
	}

	.head-bottom .nav-menu ul li {
		padding: 0;
	}

	.head-bottom .nav-menu ul li a {
		display: block;
		font-size: 18px;
		color: #000;
		letter-spacing: 0.5px;
		padding: 0 5px;
		margin: 0;
		line-height: 45px;
	}

	.close-menu {
		font-size: 24px;
		color: var(--primary);
		cursor: pointer;
	}

	.head-bottom.open .nav-menu ul li a.active {
		color: #FFBF48;
	}

	.head-bottom .nav-menu ul li a.btn-contact {
		color: #000;
		box-shadow: none;
	}

	br {
		display: none;
	}

	.banner-cont h1 {
		font-size: 40px;
	}

	.banner-cont h3 {
		font-size: 28px;
	}

	.home-page .banner-cont p {
		font-size: 16px;
	}

	.banner-form {
		padding: 20px 10px 10px;
	}

	.home-page .form-row>.col,
	.form-row>[class*=col-] {
		padding: 0 5px 10px 5px;
		width: 50%;
	}

	.banner-form .form-box select,
	.y-btn {
		height: auto;
		padding: 10px;
		font-size: 14px;
	}

	.container-fluid,
	.wd-sl-sectcontent {
		padding: 0 15px;
	}

	#aboutus .card {
		padding: 20px;
	}

	#aboutus .card h3 {
		font-size: 24px;
		line-height: normal;
	}

	#aboutus .card p {
		font-size: 14px;
	}

	.wd-sl-sectcontent.text-left {
		padding: 0;
	}

	#services .grybg .row {
		display: block;
	}

	#services .card img {
		margin: 30px auto;
	}

	#services .card {
		margin-bottom: 50px;
	}

	#services .grybg {
		padding: 70px 0 20px;
	}

	.bgimg {
		background-size: 100% 65%;
	}

	.new-car-service {
		padding: 50px 0 30px !important;
	}

	.last-aboutsec {
		margin-top: 2rem !important;
	}

	.footer .form-group {
		width: 100%;
	}

	.copyright p {
		text-align: center;
	}

	.owl-test .owl-nav.disabled,
	.owl-test .owl-nav {
		left: -10px;
		right: -10px;
	}

	#Testimonial .card {
		padding: 40px;
	}

	.wd-sl-width {
		width: 100%;
	}

	.wd-md-stock-main h3 {
		font-size: 22px;
	}

	.wd-md-stock-main h1 {
		font-size: 32px;
	}

	.wd-md-contact-form {
		padding: 2rem 0;
	}

	.wd-sl-wizard .pull-right {
		display: flex;
		justify-content: center;
	}

	.wd-sl-wizard label {
		font-size: 12px;
		line-height: normal;
	}

	.wd-sl-wizard .wizard>div.wizard-inner {
		margin-bottom: 0;
	}

	#search-result {
		margin-top: 0;
		padding-top: 3rem;
	}

	.sect-title {
		margin-bottom: 3rem;
	}

	.search-fillter {
		display: none;
	}

	.search-details {
		padding-left: 15px;
	}

	.search-result-cont .search-card {
		padding: 15px;
		display: block;
	}

	.wdsl-srch-body {
		margin-left: 0;
		padding: 10px 0 5px;
	}

	.pd-image img {
		width: 100%;
		height: 200px !important;
	}

	.pd-image {
		display: block;
	}

	.wdsl-srch-body h2 {
		font-size: 24px;
		margin-bottom: 0px;
	}

	.wdsl-srch-body h6 {
		font-size: 14px;
		margin-bottom: 0;
	}

	.wd-sl-middle ul {
		display: block;
	}

	.wd-sl-middle ul li {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.wdsl-srch-body p {
		font-size: 13px;
		margin: 10px 0;
	}

	.wd-sl-bottom {
		display: block;
	}

	.wd-sl-bottom a {
		display: block;
		margin-bottom: 15px;
		text-align: center;
	}

	.wd-sl-bottom a:last-child {
		margin-bottom: 0;
	}

	.wd-sl-stocklast ul {
		display: block;
	}

	.wd-sl-stocklast ul li {
		max-width: 100%;
	}

	.wd-sl-innertop h4 {
		font-size: 16px;
		margin-bottom: 0;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {}