.wd-sl-wform {
    background: #FFFFFF;
    box-shadow: 20px 24px 54px rgba(16, 23, 61, 0.15);
}
.wd-sl-wform .row{
    padding: 25px 10px 10px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wd-sl-wform h6{
    padding: 15px 25px;
    font-size: 22px;
    margin: 0;
    font-weight: 600;
    color: #fff;
    background: #4D4D4D;
}
.wd-sl-wform .form-control {
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 20px;
}
.wd-sl-wform .form-group label{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin-bottom: 0;
}
.wizard_col-grid{
    max-width: 100%;
    margin: 0.6rem auto 1rem;
    display: flex;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: space-between;
}
.wd-sl-wizard .nav a {
    position: relative;
    margin-bottom: 40px;
    box-shadow: 6px 6px 29px rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 0;
    transition: unset;
}
.wd-sl-wizard .nav span {
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}
.wd-sl-wizard .nav a:last-child{
    margin-bottom: 0;
}
.wd-sl-wizard .nav a.active{
    background-color: var(--primary);
}
.wd-sl-wizard .nav a.active span{
    color: #FFFFFF;
}
.wd-sl-wizard #v-pills-tab {
    position: relative;
    padding-right: 46px;
}
.wd-sl-wizard .nav a.active span:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/check-solid.svg) no-repeat;
    background-size: contain;
    right: 0;
    margin: 3px 0px;
}
.wd-sl-wizard .nav a.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: var(--primary);
    right: -30px;
    clip-path: polygon(30% 0%,100% 50%,30% 100%,0% 100%,0% 0%,0% 0%);
}
.wd-sl-wizard #v-pills-step1 .wd-sl-wizardbtn{
    justify-content: flex-end;
}
.wd-sl-wform .wd-sl-wizardbtn {
    padding: 20px 25px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wd-sl-wform .wd-sl-backbtn {
    font-size: 16px;
    font-weight: 600;
    color: #727272;
}
.wd-sl-wform .wd-sl-backbtn svg {
    width: 18px;
}
.wd-sl-wform p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.8;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #030303;
    font-size: 16px;
}
[type="radio"]:checked + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--primary);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--primary);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.wd-sl-wizardbtn svg path {
    fill: var(--primary);
}
