/*----- HEADER -----*/
.head-bottom {
	background: transparent;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.header-bottom{
	position: relative;
}
.head-bottom .nav-menu ul {
    display: flex;
}
.active_head {
    background:#741528;
    box-shadow: 0 0 10px #00000073;
}
.active_head .nav-menu ul li a{
    color: #fff !important;
}
.head-bottom .nav-menu ul.menu li{
	padding: 0 7px;
}
.head-bottom .nav-menu ul.menu li:last-child{
	padding-right: 14px;
}
.head-bottom .nav-menu ul li a {
    display: inline-block;
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 35px;
	letter-spacing: 0.08em;
	color: #FFFFFF;
	padding: 0 10px;
	border-radius: 11px;
}
.head-bottom .nav-menu ul li a:hover, .head-bottom .nav-menu ul li a.active {
    background: rgba(255, 215, 176, 0.4);
	border-radius: 11px;
}
.head-bottom .wd-md-social-media {padding-left: 20px;}
.wd-md-social-media ul li.wd-social-icon a{
	background: #FCAD90;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	display: block;
	margin-right: 7px;
	padding: 0 5px;
	text-align: center;
}
.wd-md-social-media ul li.wd-social-icon:last-child a{
	margin-right: 0;
}
.wd-md-social-media ul li.wd-social-icon a i{
	font-size: 15px;
	color: #ffffff;
	transition: 0.5s ease-in-out;
}
.wd-md-social-media ul li.wd-social-icon a:hover{
	background: #FCAD90;
	border-radius: 7px;
}
.wd-md-social-media ul li.wd-social-icon a:hover i{
	color: #000000;
}
.wd-md-head-logo a img{
	width: 150px;
	height:50px;
	object-fit: contain;
}
.wd-md-reach-blog .wd-md-call-blog{
	margin-right: 10px;
}
.wd-md-reach-blog .wd-md-call-blog span{
	margin-right: 7px;
}
.wd-md-reach-blog .wd-md-call-blog a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 155.2%;
	color: #FFFFFF;
}
.wd-md-reach-blog .wd-md-call-blog a:hover{
	color:#60BC4C;
}
/*================footer-start==============*/
footer{
	background: url('../images/footer-bg.png') no-repeat;
	width: 100%;
	height: auto;
	padding: 90px 0;
	background-size: cover;
}
.wd-foot-head-bottom {
	background: transparent;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.wd-foot-head-bottom .nav-menu ul {
    display: flex;
}
.wd-foot-head-bottom .nav-menu ul.menu li{
	padding: 0 7px;
}
.wd-foot-head-bottom .nav-menu ul.menu li:last-child{
	padding-right: 14px;
}
.wd-foot-head-bottom .nav-menu ul li a {
    display: inline-block;
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 35px;
	letter-spacing: 0.08em;
	color: #FFFFFF;
	padding: 0 10px;
	border-radius: 11px;
}
.wd-foot-head-bottom .nav-menu ul li a:hover, .wd-foot-head-bottom .nav-menu ul li a.active {
    background: rgba(255, 215, 176, 0.4);
	border-radius: 11px;
}
.wd-foot-head-bottom .wd-md-social-media {padding-left: 20px;}
.wd-md-footer-blog hr{
	margin-top: 40px;
	border-top: 1px solid rgb(255 255 255 / 50%);
}
.wd-md-footer-blog .wd-md-social-media ul li.wd-social-icon i{
	color: #4A0E1F;
}
.wd-md-footer-blog .wd-md-foot-nav ul li a:hover{
	background: transparent;
	color: var(--secondary);
}
.wd-md-footer-blog .wd-md-foot-nav ul li:last-child{
	padding-right: 0!important;
}
.wd-md-footer-blog .wd-md-foot-nav ul li a:last-child{
	padding-right: 0;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time-area{
	max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 50px 0;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time-blog{
	background: rgba(0, 0, 0, 0.2);
    border: 1.8px solid var(--secondary);
    border-radius: 11px;
    padding: 25px 7px 10px;
    margin-bottom: 16px;
    position: relative;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time-blog h6{
	background: var(--secondary);
    border-radius: 7px;
    padding: 5px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    line-height: 24px;
    top: -19px;
    left: 50%;
    transform: translate(-50%, 0px);
    text-align: center;
    color: #440E1D;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time-blog p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
}
.wd-md-footer-blog .wd-md-opening-hours h6{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 39px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	margin-bottom: 15px;
}
.wd-md-footer-blog .wd-md-opening-hours h6 strong{
	font-weight: 700;
}
.wd-md-footer-blog .wd-md-opening-hours h6 svg{
	position: absolute;
	bottom: 0;
	left: 0;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time{
	border: 1px solid transparent;
	padding: 0 5px;
	margin-bottom:5px;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	text-align: right;
	color: #FFFFFF;
	margin-bottom: 0;
}
.wd-md-footer-blog .wd-md-opening-hours .wd-day-time:hover{
	background: #60BC4C;
	border: 1px solid #60BC4C;
}
.wd-md-footer-blog .wd-footer-logo img{
	width: 150px;
	height: 30px;
	object-fit: contain;
	margin-bottom: 20px;
}
.wd-md-footer-blog .wd-md-address-blog hr{
	opacity: 0.5;
	border-top: 1px solid #FFFFFF;
}
.wd-md-footer-blog .wd-md-address-blog p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 187.5%;
	color: #FFFFFF;
}
.wd-md-footer-blog .wd-md-address-blog p span{
	color: var(--secondary);
}
.wd-md-footer-blog .wd-md-address-blog p a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 187.5%;
	color: #FFFFFF;
}
/*================footer-end================*/
.mobile-menu, .opacity, .wd-md-respo-menu {
    display: none;
}
.wd-sl-logoblue{
    display: none;
}
.active_head .wd-sl-logoblue{display: block;}
.active_head .wd-sl-logo{display: none;}
.wd-sl-footlinks li{margin-bottom: 10px;display: flex;}
.wd-sl-footlinks li p {
    width: 40%;
}
.f-contact p {
    font-size: 14px;
}
