/*----- FONTS -----*/

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*----- BASIC -----*/
html, body{
  height: auto;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #222;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  transition: all ease 0.5s;
}
a, a:hover{
  color: #000;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3{
  font-weight: 600;
}
h4,h5,h6{
  font-weight: 500;
}
.favicon{
  width: 16px;
  height: 16px;
  object-fit: contain;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input, select, textarea {
  outline: none;
}
select {
  -moz-appearance: window;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fff url('../images/select-arrow.png') no-repeat 97% center;
}
a, button {
  outline: none;
  box-shadow: none;
  text-decoration: none !important;
  transition: all ease 0.5s;
}
/*----- MAIN -----*/
.mobile-menu, .opacity, .close-menu {
  display: none;
}
.home-page section {
  margin-bottom: 100px;
  padding: 0;
}
.r-more-cont {
  display: flex;
  align-items: center;
}
.more-img span {
  display: block;
  overflow: hidden;
}
.more-img span img {
  width: 100%;
    height: 400px;
    object-fit: cover;
}
.more-desc {
  padding-left: 45px;
}
.home-page section h2 {
  font-size: 30px;
  color: #000;
  margin: 0 0 20px 0;
}
.home-page section p {
  font-size: 15px;
  color: #525252;
  margin-bottom: 20px;
}
.y-btn {
  background: var(--primary);
  padding: 0 40px;
  line-height: 41px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border: solid 2px var(--primary);
  letter-spacing: 0.5px;
}
.y-btn:hover {
  color: var(--primary);
  background: #fff;
}
.o-work-cont {
  width: 100%;
}
.sect-title {
  margin-bottom: 75px;
  text-align: center;
  padding: 0 15px;
}
.o-work-cont .sect-cont {
  display: flex;
  flex-wrap: wrap;
}
.o-work-cont .work-blog {
  overflow: hidden;
  border-radius: 20px;
  margin: 15px 0;
}
.o-work-cont .work-blog img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transform: scale(1);
  transition: all ease 0.5s;
}
.o-work-cont .work-blog:hover img {
  transform: scale(1.1);
}
.services-blog {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.services-blog span {
  display: block;
  overflow: hidden;
  border-radius: 15px;
}
.services-blog span img {
  width: 100%;
    transition: all ease 0.5s;
    transform: scale(1);
    height: 130px;
    object-fit: cover;
}
.services-blog h5 {
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 30px;
}
.services-blog span:hover img {
  transform: scale(1.1);
}
.about-cont-main {
  margin: 60px 0 0 0;
}
.about-top-title {
  text-align: center;
  padding: 0 10%;
  margin-bottom: 50px;
}
#about-us .sect-title {
  text-align: left;
  max-width: 60%;
  margin-bottom: 50px;
}
.about-img .ab-full-img {
  width: 100%;
  position: relative;
  z-index: 999;
}
.about-img .ab-vector {
  position: absolute;
  right: -63px;
  top: -68px;
}
#home-banner {
  margin-bottom: 0;
  height: 90vh;
  display: flex;
  align-items: center;
}
.banner-cont {
  width: 100%;
  text-align: center;
  margin-top: -10%;
  padding: 0 15px;
}
.banner-cont h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}
.home-page .banner-cont p {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #fff;
}
.banner-form {
  margin: 50px 0 0 0;
}
.banner-form .form-row {
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-form .form-box {
  width: 30%;
  padding: 0 15px;
}
.banner-form .form-box.price {
  width: 20%;
}
.banner-form .form-box select {
  height: 55px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 0 35px 0 15px;
  color: #000;
  background-position: 95% center
}
.banner-form .form-box.price select {
    background-position: 92% center;
}
.banner-form .form-row.action {
  justify-content: center;
}
.banner-form .form-row.action .y-btn {
  border-radius: 5px;
}
#testimonial {
  background: #f5f5f5;
  padding: 75px 0;
}
#testimonial .sect-title {
  max-width: 50%;
  text-align: left;
  margin-bottom: 50px;
}
#testimonial .owl-dots {
  display: none;
}
#testimonial .owl-nav {
  position: absolute;
  top: -120px;
  background: transparent;
  z-index: 99999;
  width: 100%;
  left: 47%;
  transform: translateX(-50%);
  padding: 0 15px;
  justify-content: end;
  display: flex;
}
#testimonial .owl-nav button {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
#testimonial .owl-nav button span {
  display: none;
}
#testimonial .owl-nav button:before {content: '';width: 12px;height: 12px;border-left: solid 2px #000;border-bottom: solid 2px #000;display: inline-block;transform: rotate(45deg);margin-left: 6px;}
#testimonial .owl-nav button.owl-next:before {
  transform: rotate(-135deg);
  margin-left: 0;
  margin-right: 6px;
}
#testimonial .owl-nav button.owl-prev {
  margin-right: 20px;
}
#testimonial .owl-nav button:hover {
  background: var(--primary);
}
#testimonial .owl-nav button:hover:before {
  border-color: #fff;
}
#testimonial .owl-item .slide-box {
  background: #fff;
  box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px;
}
#testimonial .owl-item .slide-box > img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
}
#testimonial .owl-item .slide-box h3 {
  font-size: 20px;
  color: #000;
  margin: 30px 0 15px 0;
}
#testimonial .owl-item .slide-box h5 {
    font-size: 14px;
    color: #0CBE64;
    font-weight: 400;
    letter-spacing: 1px;
    background: rgba(12, 190, 100, 0.15);
    border-radius: 8px;
    display: inline-block;
    margin: 10px 0 0 0 !important;
    padding: 12px 25px;
}
#testimonial .owl-item .slide-box.red h5 {
	color: #DC0000;
	background: rgba(220, 0, 0, 0.1);
}
#testimonial .owl-item .slide-box.purple h5 {
	background: rgba(176, 0, 220, 0.11);
	color: #B000DC;
}
#testimonial .owl-item .slide-box.blue h5 {
	background: rgba(0, 88, 220, 0.09);
	color: #0058DC;
}
#testimonial .owl-item .slide-box p {
  font-size: 15px;
  color: #525252;
  margin-bottom: 30px;
}
#testimonial .owl-item .slide-box a img {height: 12px;width: auto;display: inline-block;margin-left: 10px;}
#testimonial .owl-item .slide-box a {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
}
#testimonial .owl-item .slide-box a:hover {
  color: #000;
}
#testimonial .owl-item .slide-box .readmore {
  text-align: right;
}
/* Search Result page start */
nav.brdmb {
  margin: 75px 0 40px 0;
}
nav.brdmb .breadcrumb {
  padding: 0;
  background: transparent;
  margin: 0;
  justify-content: center;
  align-items: center;
}
nav.brdmb .breadcrumb .breadcrumb-item a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 208.5%;
  color: #848484;
}
nav.brdmb .breadcrumb .breadcrumb-item.active {
  color: var(--secondary);
}
.search-cont {
  width: 100%;
}
.fillter-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.fillter-head h3 {
  margin: 0;
  font-size: 24px;
  color: #000;
}
.fillter-head a {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 400;
}
.fillter-head a i {
  margin-right: 5px;
}
.fillter-head a:hover {
  color: #000;
}
.fillter-body .card {
  border: 1px solid #AEAEAE !important;
  border-radius: 10px !important;
  margin-bottom: 20px;
}
.fillter-body .card .card-head h2 {
  font-size: 18px;
  padding: 15px 35px 15px 15px;
  color: #000;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #AEAEAE;
  cursor: pointer;
}
.fillter-body .card .card-head h2.collapsed {
  border-bottom: 0;
}
.fillter-body .card .card-head h2:after {
  content: '';
  position:absolute;
  width:18px;
  height: 11px;
  background: url(../images/select-arrow.png) no-repeat;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
}
.fillter-body .card .card-head h2.collapsed:after {
  transform: translateY(-50%) rotate(0deg);
}
.fillter-body .card .card-body {
  padding: 15px 15px;
}
.fillter-body .card .ckeck-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}
.fillter-body .card .ckeck-row label {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
.fillter-body .card .ckeck-row:last-child {
  margin-bottom: 0;
}
.fillter-body .card .ckeck-row label:before {content: '';width: 15px;height: 15px;position: absolute;right: 0;top: 4px;border: solid 2px #222;z-index: 9;}
.fillter-body .card .ckeck-row input {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0;
}
.fillter-body .card .ckeck-row input[type=checkbox]:checked + label:before {border-color: var(--secondary);}
.fillter-body .card .ckeck-row input[type=checkbox]:checked + label:after {
    content: '';
    width: 8px;
    height: 6px;
    position: absolute;
    right: 3px;
    top: 7px;
    border-left: solid 2px var(--secondary);
    border-bottom: solid 2px var(--secondary);
    transform: rotate(-45deg);
}
.search-result-cont {
  display: flex;
  justify-content: space-between;
}
.search-details {
  padding-left: 45px;
}
.search-result-cont .search-card {
  background: #FFFFFF;
  box-shadow: -12px 12px 24px rgba(230, 230, 230, 0.2), 12px -12px 24px rgba(230, 230, 230, 0.2), -12px -12px 24px rgba(255, 255, 255, 0.9), 12px 12px 30px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 30px;
  margin-bottom: 30px;
}
.search-card-head {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-card-head .pd-name p {
  font-size: 16px;
  margin: 0;
  color: #000;
}
.search-card-head .pd-name h3 {
  font-size: 24px;
  color: #000;
  margin: 0 0 5px 0;
}
.search-card-head .pd-price strong {
  font-size: 24px;
  color: #FA8305;
}
.search-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.search-card-body .pd-image {
  text-align: center;
  width: 35%;
  flex-direction: column;
  display: flex;
  padding: 0 15px;
}
.search-card-body .pd-details {
  width: 65%;
  padding: 0 25px;
}
.search-card-body .pd-image span img {
  width: 90%;
}
.search-card-body .pd-image a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
}
.search-card-body .pd-feature .pd-feature-box p, .search-card-body .pd-feature .pd-feature-box h6 {
  font-size: 15px;
  margin: 0;
  color: #000;
  font-weight: 400;
}
.search-card-body .pd-feature {
  display: flex;
  margin: 20px 0 30px 0;
}
.search-card-body .pd-feature .pd-feature-box {margin-right: 40px;}
.search-card-body .pd-feature .pd-feature-box:last-child {
  margin-right: 0;
}
.pd-feature-box p {
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
}
.search-card-body .pd-feature .pd-feature-box h6 {
  font-weight: 600;
  margin-top: 5px;
}
.pd-btn-row {
  display: flex;
}
.pd-btn-row .y-btn {
  padding: 0;
  margin-right: 15px;
  width: calc(33.3333% - 15px);
  text-align: center;
  border-radius: 5px;
  line-height: 38px;
  border-width: 1px;
}
.pd-btn-row .y-btn.vehicle {
  margin-right: 0;
  color: #000;
  background: #fff;
  border-color: #000;
}
.pd-btn-row .y-btn.vehicle:hover {
  background: #000;
  color: #fff;
}
.search-page .sect-title p {
    font-weight: 500;
    color: #898989;
}
#about-us {
    background: #ffffff;
    padding-bottom: 50px;
}

i.fa.fa-trash {
    color: #000;
}
i.fa.fa-edit{
  color: #000;
}
form.frmSearch i{
  color: #fff;
}
.wd-md-search-car-blog form .custom-select{
    background: #fff;
}
#stock-list-detail-img .modal-content{
    background: transparent;
    border: 0;
}
#stock-list-detail-img .modal-dialog{
    max-width: 100%;
}
#stock-list-detail-img .modal-dialog img{
    width: 100%;
    height: 800px;
    object-fit: contain;
}
#stock-list-detail-img .modal-header{
    border: none;
    display: block;
}
#stock-list-detail-img .modal-header .close {
     background: #919191;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 25px;
    margin: 0;
}
#stock-list-detail-img .owl-carousel .owl-nav button span {
    display: block;
    background: #919191;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stock-list-detail-img  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
}
#stock-list-detail-img .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#stock-list-detail-img .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 0;
}
#stock-list-detail-img .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
}
.banner-form .form-box label{
  margin: 0;
}