/*----- FONTS -----*/
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----- BASIC -----*/
html,
body {
  height: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #222;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  transition: all ease 0.5s;
}

a,
a:hover {
  color: #000;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 500;
}

.favicon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  outline: none;
}

select {
  -moz-appearance: window;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fff url('../images/select-arrow2.png') no-repeat 95% center;
}

a,
button {
  outline: none;
  box-shadow: none;
  text-decoration: none !important;
  transition: all ease 0.5s;
}

.container-fluid {
  padding: 0 3%;
}

/*----- MAIN -----*/
.home-page section {
  margin-bottom: 40px;
  padding: 0;

}

.r-more-cont {
  display: flex;
  align-items: center;
}

.more-img span {
  display: block;
  overflow: hidden;
}

.more-img span img {
  width: 100%;
}

.more-desc {
  padding-left: 45px;
}

.y-btn {
  padding: 0px 40px;
  line-height: normal;
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 100%;
  background: var(--primary);
  box-shadow: 0px 4px 12px rgb(255 189 65 / 26%);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 45px;
}

.y-btn:hover {
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
}

.form-row>.col,
.form-row>[class*=col-] {
  padding: 0 15px;
}

.o-work-cont {
  width: 100%;
}

.sect-title {
  margin-bottom: 75px;
  text-align: center;
  padding: 0 15px;
}

.o-work-cont .sect-cont {
  display: flex;
  flex-wrap: wrap;
}

.o-work-cont .work-blog {
  overflow: hidden;
  border-radius: 20px;
  margin: 15px 0;
}

.o-work-cont .work-blog img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transform: scale(1);
  transition: all ease 0.5s;
}

.o-work-cont .work-blog:hover img {
  transform: scale(1.1);
}

#home-banner {
  margin-bottom: 0;
  background: url('../images/home-banner-bg.png') no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.banner-cont {
  width: 100%;
  text-align: center;
  margin-top: -10%;
  padding: 0 15px;
}

.banner-cont h3 {
  color: #fff;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
}

.banner-cont h1 {
  color: var(--primary);
  font-size: 125px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--primary);
}

.home-page .banner-cont p {
  margin: 10px 0 0 0;
  font-size: 19px;
  color: rgb(255 255 255 / 90%);
  font-weight: 400;
  line-height: 1.8;
}

.banner-form {
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgb(179 179 179 / 25%);
  border-radius: 10px;
  padding: 30px 15px 30px;
  margin-top: -50px;
}

.banner-form .form-row {
  margin: 0 0 0px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-form .form-box select {
  height: 45px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 0 30px 0 15px;
  color: #000;
}

.banner-form .form-row.action {
  justify-content: center;
}

.banner-form .form-row.action .y-btn {
  border-radius: 5px;
}

/* Search Result page start */
nav.brdmb {
  margin: 75px 0 40px 0;
}

nav.brdmb .breadcrumb {
  padding: 0;
  background: transparent;
  margin: 0;
  justify-content: center;
  align-items: center;
}

nav.brdmb .breadcrumb .breadcrumb-item a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 208.5%;
  color: #848484;
}

nav.brdmb .breadcrumb .breadcrumb-item.active {
  color: var(--primary);
}

.search-cont {
  width: 100%;
}

.fillter-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.fillter-head h3 {
  margin: 0;
  font-size: 24px;
  color: #000;
}

.fillter-head a {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
}

.fillter-head a i {
  margin-right: 5px;
}

.fillter-head a:hover {
  color: #000;
}

.fillter-body .card {
  border: 1px solid #AEAEAE !important;
  border-radius: 10px !important;
  margin-bottom: 20px;
}

.fillter-body .card .card-head h2 {
  font-size: 17px;
  padding: 15px 35px 15px 15px;
  color: rgb(0 0 0 / 80%);
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #E8E8E8;
  cursor: pointer;
  border-radius: 10px;
}

.fillter-body .card .card-head h2.collapsed {
  border-bottom: 0;
}

.fillter-body .card .card-head h2:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 11px;
  background: url(../images/select-arrow.png) no-repeat;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
}

.fillter-body .card .card-head h2.collapsed:after {
  transform: translateY(-50%) rotate(0deg);
}

.fillter-body .card .card-body {
  padding: 15px 15px;
}

.fillter-body .card .ckeck-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.fillter-body .card .ckeck-row label {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.fillter-body .card .ckeck-row:last-child {
  margin-bottom: 0;
}

.fillter-body .card .ckeck-row label:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 4px;
  border: solid 2px #222;
  z-index: 9;
}

.fillter-body .card .ckeck-row input {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0;
}

.fillter-body .card .ckeck-row input[type=checkbox]:checked+label:before {
  border-color: var(--primary);
}

.fillter-body .card .ckeck-row input[type=checkbox]:checked+label:after {
  content: '';
  width: 8px;
  height: 6px;
  position: absolute;
  right: 3px;
  top: 7px;
  border-left: solid 2px var(--primary);
  border-bottom: solid 2px var(--primary);
  transform: rotate(-45deg);
}

.search-result-cont {
  display: flex;
  justify-content: space-between;
}

.search-details {
  padding-left: 45px;
}

.search-result-cont .search-card {
  background: #FFFFFF;
  box-shadow: -12px 12px 24px rgba(230, 230, 230, 0.2), 12px -12px 24px rgba(230, 230, 230, 0.2), -12px -12px 24px rgba(255, 255, 255, 0.9), 12px 12px 30px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.search-card-head {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-card-head .pd-name p {
  font-size: 16px;
  margin: 0;
  color: #000;
}

.search-card-head .pd-name h3 {
  font-size: 24px;
  color: #000;
  margin: 0 0 5px 0;
}

.search-card-head .pd-price strong {
  font-size: 24px;
  color: var(--primary);
}

.search-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.search-card-body .pd-image {
  text-align: center;
  width: 35%;
  flex-direction: column;
  display: flex;
  padding: 0 15px;
}

.search-card-body .pd-details {
  width: 65%;
  padding: 0 25px;
}

.search-card-body .pd-image span img {
  width: 90%;
}

.search-card-body .pd-image a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
}

.search-card-body .pd-feature .pd-feature-box p,
.search-card-body .pd-feature .pd-feature-box h6 {
  font-size: 15px;
  margin: 0;
  color: #000;
  font-weight: 400;
}

.search-card-body .pd-feature {
  display: flex;
  margin: 20px 0 30px 0;
}

.search-card-body .pd-feature .pd-feature-box {
  margin-right: 40px;
}

.search-card-body .pd-feature .pd-feature-box:last-child {
  margin-right: 0;
}

.pd-feature-box p {
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
}

.search-card-body .pd-feature .pd-feature-box h6 {
  font-weight: 600;
  margin-top: 5px;
}

.pd-btn-row {
  display: flex;
}

.pd-btn-row .y-btn {
  padding: 0;
  margin-right: 15px;
  width: calc(33.3333% - 15px);
  text-align: center;
  border-radius: 5px;
  line-height: 38px;
  border-width: 1px;
}

.pd-btn-row .y-btn.vehicle {
  margin-right: 0;
  color: #000;
  background: #fff;
  border-color: #000;
}

.pd-btn-row .y-btn.vehicle:hover {
  background: #000;
  color: #fff;
}

.wd-sl-sectcontent h2 {
  font-size: 24px;
  color: #252B2F;
  margin: 0;
  font-weight: 500;
}

.wd-sl-sectcontent {
  font-size: 14px;
  color: rgb(82 82 82 / 60%);
  line-height: 24px;
}

#services {
  padding: 0;
  margin-top: 50px;
}

#services .grybg {
  background: #F5F5F5;
  margin: 3rem 0 0;
  padding: 70px 0;
}

#services .card {
  border: none;
  text-align: center;
  height: 100%;
  padding: 20px 20px;
  justify-content: space-between;
  border-bottom: 12px solid #252B2F;
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgb(179 179 179 / 25%);
  border-radius: 10px;
  margin-bottom: 70px;
}

#services .card span {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  background: var(--primary);
  width: 42px;
  height: 42px;
  padding: 7px;
  border-radius: 50%;
  margin: -42px auto 0;
}

#services .card img {
  width: 70px;
  margin: 0 auto;
  height: 70px;
  object-fit: contain;
}

#services .card h5 {
  margin-bottom: 0;
}

#services .card p {
  margin-bottom: 0;
  font-size: 14px;
  color: rgb(82 82 82 / 60%);
  line-height: 24px;
}

#services a {
  font-weight: 500;
  font-size: 15px;
  color: var(--primary);
}

#Testimonial .card p {
  margin-bottom: 0;
  font-size: 14px;
  color: rgb(82 82 82 / 60%);
  line-height: 24px;
}

#Testimonial .card {
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgb(149 147 147 / 25%);
  border-radius: 10px;
  border: none;
  text-align: center;
  margin: 3rem 0 150px;
  height: 290px;
  justify-content: space-between;
  padding: 40px 70px;
  align-items: center;
}

#Testimonial .card:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-top: solid 50px #fff;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
}

.bgimg {
  background-image: url(../images/test-bg.png);
  background-repeat: no-repeat;
  background-position: revert;
  background-size: 100% 330px;
  padding: 3rem 0 0;
}

.owl-test .owl-nav.disabled,
.owl-test .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0px;
}

.owl-test button.owl-prev,
button.owl-next {
  color: #000 !important;
  background: var(--primary) !important;
  width: 37px;
  border-radius: 50%;
}

.owl-test button.owl-prev span,
button.owl-next span {
  font-size: 40px;
  line-height: 30px;
}

#aboutus .card {
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgb(149 147 147 / 25%);
  border: none;
  padding: 50px;
}

#aboutus .card img {
  width: 100%;
  height: 405px;
  object-fit: cover;
}

#aboutus .card h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.6;
  margin: 10px 0;
}

#aboutus .card strong {
  color: var(--primary);
  font-weight: 500;
}

#aboutus .card p {
  font-size: 16px;
  color: rgb(82 82 82 / 60%);
  line-height: 1.6;
}

.owl-part .item img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.test-img {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wd-md-stock-main {
  background-image: url(../images/other-bg.png);
  height: 580px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
}

.wd-md-stock-main h1 {
  font-weight: 600;
  font-size: 48px;
  color: var(--primary);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.wd-md-stock-main h3 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.wd-md-stock-main p {
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
}

#search-result {
  background: #e5e5e51a;
  padding: 4rem 0;
}

.search-fillter {
  background: #FFFFFF;
  box-shadow: -12px 12px 24px rgb(230 230 230 / 20%), 12px -12px 24px rgb(230 230 230 / 20%), -12px -12px 24px rgb(255 255 255 / 90%), 12px 12px 30px rgb(230 230 230 / 90%), inset 1px 1px 2px rgb(255 255 255 / 30%), inset -1px -1px 2px rgb(230 230 230 / 50%);
  border-radius: 10px;
  padding: 30px;
}

.search-card {
  display: flex;
  justify-content: space-between;
}

.wdsl-srch-body {
  width: 100%;
  margin-left: 20px;
}

.wdsl-srch-body h2 {
  font-weight: 600;
  font-size: 30px;
}

.wdsl-srch-body h6 {
  font-weight: 500;
  font-size: 15px;
}

.wdsl-srch-body span {
  font-size: 14px;
  color: rgb(0 0 0 / 70%);
}

.wd-sl-innertop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wd-sl-top {
  border-bottom: 2px solid rgb(196 196 196 / 30%);
  padding: 0px 15px 10px;
}

.wd-sl-middle {
  padding: 16px 15px 0;
}

.wdsl-srch-body .gry-text {
  color: rgb(0 0 0 / 40%);
  margin-bottom: 5px !important;
}

.wd-sl-middle ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wd-sl-middle ul {
  margin-bottom: 0;
}

.yellow-btn {
  background: var(--primary);
  box-shadow: 0px 4px 12px rgba(255, 189, 65, 0.2);
  border-radius: 6px;
  padding: 10px 12px;
  display: inline-block;
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid transparent;
}

.yellow-btn:hover {
  border: 1px solid var(--primary);
  background: #FFFFFF;
  color: var(--primary);
}

.border-btn {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 12px rgba(144, 214, 101, 0.29));
  border-radius: 6px;
  padding: 10px 12px;
  display: inline-block;
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
}

.border-btn:hover {
  background: var(--primary);
  color: #FFFFFF;
}

.wdsl-srch-body p {
  font-size: 16px;
  color: rgb(82 82 82 / 70%);
  font-weight: 400;
  margin: 16px 0;
  line-height: 1.7;
  margin-bottom: 0;
}

.wd-sl-bottom {
  padding: 16px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pd-image h5 {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  text-align: right;
  padding: 12px 10px;
  border-radius: 0px 0px 15px 15px;
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 99%;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.pd-image {
  position: relative;
}

.wd-md-stock-list .pd-image img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  margin-top: 16px;
}

.wd-sl-stocklast .row {
  justify-content: space-around;
}

.wd-sl-stocklast .wd-sl-ulli {
  background: #F4F4F4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 2px 8px;
  max-width: 22%;
  width: 100%;
  margin-top: 26px;
  position: relative;
}

.wd-sl-stocklast .wd-sl-ulli span {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  display: block;
  color: #000;
}

.wd-sl-stocklast .wd-sl-ulli span.gry-text {
  color: rgb(0 0 0 / 30%);
}

.wd-sl-stocklast .wd-sl-ulli i {
  background: var(--primary);
  box-shadow: 0px 4px 8px rgb(255 189 65 / 17%);
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px -17px;
}

.wd-sl-stocklast .wd-sl-ulli i svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin: 10px;
}

.owl-car .item {
  position: relative;
}

.owl-car .item h6 {
  background: rgb(0 0 0 / 56%);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 0px 0px 10px 0px;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
}

.wd-sl-offer img {
  height: 300px !important;
}

.wd-sl-offer p {
  line-height: 1.8 !important;
}

.wd-sl-infocontact span.yellow-txt {
  color: var(--primary);
}

.wd-sl-infocontact span {
  display: block;
  color: rgb(255 255 255 / 55%);
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 4px;
}

ul.wd-sl-infocontact li {
  display: inline-block;
  width: 49%;
  margin: 0 0 12px;
}

ul.wd-sl-infocontact {
  display: block;
}

.t4-img-ft {
  position: absolute;
  left: 140px;
}

.modal .form-group input[type=file] {
  height: auto;
  border: none;
  border-radius: 0;
}

.modal .form-group input {
  height: auto;
}

.sub-form-stock {
  width: 100%;
  display: inline-block;
  background: #FBFBFB;
  padding: 15px;
}

.sub-form-stock .form-group .form-control {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

.sub-form-stock .form-group {
  margin-bottom: 7px;
}

.sub-form-stock .form-group input {
  height: auto;
}

.sub-form-stock .btn-primary {
  width: 100%;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 6px;
  padding: 8px 0;
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.sub-form-stock .btn-primary:hover {
  color: var(--primary);
  background: #ffffff;
}

i.fa.fa-trash {
  color: #000;
}

i.fa.fa-edit {
  color: #000;
}

i.fas.fa-search.wd-search-icon {
  color: #fff;
}

#stock-list-detail-img .modal-content {
  background: transparent;
  border: 0;
}

#stock-list-detail-img .modal-dialog {
  max-width: 100%;
}

#stock-list-detail-img .modal-dialog img {
  width: 100%;
  height: 800px;
  object-fit: contain;
}

#stock-list-detail-img .modal-header {
  border: none;
  display: block;
}

#stock-list-detail-img .modal-header .close {
  background: #919191;
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 25px;
  margin: 0;
}

#stock-list-detail-img .owl-carousel .owl-nav button span {
  display: block;
  background: #919191;
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stock-list-detail-img .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

#stock-list-detail-img .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#stock-list-detail-img .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
}

#stock-list-detail-img .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.form-box label {
  margin: 0;
}