/*----- HEADER -----*/
.header-top {
    background: #fff;
}
.head-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 10px 15px;
}
.head-top p, .head-top a {
    color: #1A1A1A;
    margin: 0 75px 0 0;
    font-size: 15px;
    font-weight: 400;
}
.head-top a {
    margin-right: 0;
}
.head-top a:hover {
    color: #E47500;
}
.head-top p i, .head-top a i {
    margin-right: 5px;
}
.header-bottom {background: transparent;
    position: fixed;
    width: 100%;}
.head-bottom {
    margin-top: 30px;
    background: #000000;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.active_head .head-bottom{
    margin-top: 0;
    background: var(--secondary);
}
.head-bottom .nav-menu ul {
    display: flex;
}
.active_head {
    background: var(--secondary);
    box-shadow: 0 0 10px #00000073;
}
.active_head .nav-menu ul li a{

}
.head-bottom .nav-menu ul li a {
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.head-bottom .nav-menu ul li a:hover, .head-bottom .nav-menu ul li a.active {
    color: var(--primary);
    border-radius: 5px;
}
#footer {
   background: var(--secondary);
}
.copyright h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 30px;
    color: #FFFFFF;
}
.copyright {
    padding-bottom: 13px;
    text-align: center;
}
#footer p.copy-right{
    margin: 0;
    padding-bottom: 15px;
    text-align: right;
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.5px;
    opacity: 0.6;
    text-align: center;
}
#footer hr{
    opacity: 0.2;
    border: 0.8px solid #FFFFFF;
}
.footer {
    padding: 50px 0 30px;
}
.footer-cont p {
    color: rgb(255 255 255 / 55%);
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.8;
}
.f-logo .wd-md-svg{
    padding-right: 20px;
}
.f-logo p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: rgb(255 255 255 / 55%);
}
#footer .wd-md-links h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

#footer .wd-md-links ul li a{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: rgb(255 255 255 / 55%);
}
.f-logo .wd-md-address .wd-md-foot-num p span{
    width: 108px;
    display: inline-block;
}
.f-logo a{
    margin-left: -5px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: rgb(255 255 255 / 55%);
}
ul.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.social li {
    margin-right: 10px;
}
ul.social li:last-child {
    margin-right: 0;
}
ul.social li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: var(--secondary);
    font-size: 18px;
}
ul.social li a:hover {
    color: var(--secondary);
    background: var(--primary);
}
.footer-cont h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 14px;
}
.footer-cont .f-timing p {
    margin-bottom: 5px;
    text-transform: uppercase;
}
.footer-cont .f-contact p {
    margin-bottom: 20px;
}

.footer-cont .f-contact p:last-child, .footer-cont .f-timing p:last-child {
    margin-bottom: 0;
}
.footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wd-sl-footer {
    background: #353A3D;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
    padding: 10px 0;
}
.footer-cont h6 img{
    padding-right: 15px;
}
.footer-cont h6 {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 11px;
}
#footer .footer .wd-md-address {
    padding-top: 7px;
}
#footer .footer .f-contact input{
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    position: relative;
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 15px;
}
#footer .footer .f-contact input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    opacity: 0.55;
}
#footer .footer .f-contact a{
    padding: 5px ;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary);
    background: var(--primary);
    box-shadow: 0px 16px 40px rgba(13, 238, 184, 0.25);
    border-radius: 30px;
    border: 1px solid var(--primary);
}
#footer .footer .f-contact a:hover{
    background: #ffffff;
}
.footer .form-group {
    display: block;
    width: 90%;
    position: relative;
}
.mobile-menu, .opacity, .wd-md-respo-menu {
    display: none;
}
